@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom background */
html,
body {
  background-image: radial-gradient(
      circle at 10% 90%,
      rgba(255, 200, 235, 0.12) 0%,
      transparent 20%
    ),
    radial-gradient(
      circle at 80% 10%,
      rgba(180, 220, 255, 0.12) 0%,
      transparent 20%
    ),
    linear-gradient(180deg, #ffffff 0%, #f3f8ff 100%);
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --gradient-start: rgba(235, 245, 255, 0.9);
  --gradient-end: rgba(241, 227, 255, 0.9);
}
